body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
}

form {
    background: #ffffff;
    width: 300px;
    padding: 20px;
    margin: 40px auto;
    border-radius: 5px;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
